.opponentMessageContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 10px;
}

.ownMessageContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 10px;
}

.ownMessage {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 9px 9px 9px 9px;
  gap: var(--gap-9xs);
  border-radius: var(--br-base) var(--br-base) 0 var(--br-base);
  background-color: var(--color-mediumblue);
}

.opponentMessage {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 9px 9px 9px 9px;
  gap: var(--gap-9xs);
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  background-color: var(--color-darkgray-100);
}

.chatMessage {
  width: auto;
  max-width: 200px;
  margin-bottom: 2px;
  white-space: pre-wrap;
  word-wrap: break-word; /* 오래된 브라우저 호환성을 위해 */
  word-break: break-word; /* 비표준, 하지만 웹킷(크롬, 사파리)과 레거시 브라우저에서 유용 */
  overflow-wrap: break-word; /* 표준 속성으로, word-wrap의 새 이름 */
}

.chatInformationForMine {
  display: flex;
  justify-content: flex-end;
}

.chatInformationForPartner {
  display: flex;
  justify-content: flex-start;
}

.isRead,
.time {
  position: relative;
  line-height: 1.5rem;
  font-size: var(--text-x-small-regular-size);
  line-height: 1rem;
  font-family: var(--text-x-small-regular);
}
